.name{
    font-family: 'Barrio';
    font-size: 300%;
    color: black;
    text-align: center;
}
.nav{
    font-family: 'Barrio';
    font-size: 200%;
    padding-bottom: 10px;
}
.ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.li{
    display: inline;
}
.nav >ul>li>a{
    text-decoration: none;
    display: inline;
    color: black;
    padding: 20px 40px 20px 40px;
    margin: 10px 10px 10px 10px;
    height: 20px;
    border-style: solid;
    transition: all 0.5s;
}
.a:hover{
    font-size: 220%;
}
.homeImage {
    display: block;
    position: center;
    margin: 50px auto 0 auto;
    max-width: 1000px;
}
.fa{
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    transition: all 0.5s;
}
.fa:hover{
    opacity:0.7;
}
.fa-facebook{
    background: black;
    color: white;
}
.fa-instagram{
    background: black;
    color: white;
}
.footer{
    background-color: black;
    margin: 10px 0 0 0;

}
.socialMedia{
    position: relative;
    text-align: center;
}
.aboutMe{
    font-family: 'Barrio';
    text-align: center;
    margin-top: 80px;
}
.images{
    width: 100%;
    height: auto;
}
.begin{
    text-align: center;
    margin-bottom: 390px;
    max-height: 100px;
    padding-top: 10%;
}
.beginButton{
    text-decoration: none;
    font-family: 'Barrio';
    font-size: 300%;
    color: black;
    text-transform: lowercase;
    border-style: solid;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 0.5s;
}
.beginButton:hover{
    color: gray;
    border-color: gray
}






